/* メニューツリーのレイアウト */
.menu-tree-layout {
    padding: 5px;
    width: 15%;
    min-width: 250px;
}

/* ページのレイアウト */
.page-layout {
    padding: 10px;
}

/* メニューツリーのボタンのデザイン */
.menu-tree-btn {
    color: black;
    background: white;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    text-align: left;
}
.menu-tree-btn:hover {
    background: silver;
}

/* パラメータ設定ページの各パラメータの名前のデザイン */
.param-title-label {
    font-size: 16px;
    font-weight: bold;
}
/* パラメータ設定ページの角パラメータの説明文のデザイン */
.param-desc-label {
    font-size: 14px;
}

/* 日報作成ボタンのデザイン */
.create-daily-btn {
    margin-left: 15px;
    color: white;
    background: #0099FF;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}
.create-daily-btn:hover {
    color: white;
    background:#0088FF;
}

/* 日報メール送信ボタンのデザイン */
.daily-submit-btn {
    margin-top: 12px;
    color: white;
    background: #0099FF;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
}
.daily-submit-btn:hover {
    color: white;
    background:#0088FF;
}

/* 作成日報テキストエリアのデザイン */
.daily-textarea {
    resize: auto;
    min-width: 500px;
    max-width: 1000px;
    min-height: 300px;
    max-height: 600px;
    width: 1000px;
    height: 600px;
    font-size: 14px;
}